BPM.Angular/dist
BPM.Angular/node_modules
BPM.Angular/src/components
BPM.Angular/bin
BPM.Angular/obj
*.log
*.orig
*.sublime*
packages
BPM.WebAPI/bin
BPM.WebAPI/obj

BPM.Models/obj
BPM.Models/bin
BPM.Maps/obj
BPM.Maps/bin
BPM.Repositories/bin
BPM.Repositories/obj
BPM.Services/obj
BPM.Services/bin
BPM.ViewModels/obj
BPM.ViewModels/bin
BPM.DependencyInjection/obj
BPM.DependencyInjection/bin
BPM.Commons/obj
BPM.Commons/bin
*.suo
*/bin
*/obj
BPM.Models/BPM.Models.csproj.user
BPM.ViewModels/BPM.ViewModels.csproj.user
BPM.WebAPI/BPM.WebAPI.csproj.user

